aioconsole==0.8.0
bidict==0.23.1
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
Flask==2.0.3
Flask-Cors==5.0.0
Flask-SocketIO==4.2.0
h11==0.14.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
netifaces==0.10.6
python-engineio==3.14.2
python-socketio==4.6.1
requests==2.32.3
simple-websocket==1.1.0
six==1.16.0
socketio==0.2.1
urllib3==2.2.3
websockets==13.1
Werkzeug==2.0.3
wsproto==1.2.0
